
src/EfficientlyLazy.PhotoFramer.5.0.ReSharper.user
src/EfficientlyLazy.PhotoFramer.suo
src/_ReSharper.EfficientlyLazy.PhotoFramer/*
src/EfficientlyLazy.PhotoFramer.UI/bin/*
src/EfficientlyLazy.PhotoFramer.UI/obj/*
src/EfficientlyLazy.PhotoFramer/obj/*
src/EfficientlyLazy.PhotoFramer/bin/*
/src/EfficientlyLazy.PhotoFramer.UI/EfficientlyLazy.PhotoFramer.UI.csproj.ReSharper